<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta id="meta-theme" name="theme-color" content="#fff" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <title>Average-Cost</title>
  <link rel="icon" href="/photo/platter.png">
  <link rel="preload" crossorigin="" as="style"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="/modules/animate.min.css" />
  <link rel="preload" href="./style/style.css" as="style" />
  <link rel="stylesheet" href="./style/style.css" />
  <script defer type="module" src="./js/average.js"></script>
</head>

<body>
  <%- include('partial/nav') %>

  <div class="d-flex justify-content-center p-3">
    <a href="/search" class="btn btn-lg __1em __orange">find restaurant</a>
  </div>  
  
</body>

</html>