<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta id="meta-theme" name="theme-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <title>Platter</title>
    <link rel="icon" href="/photo/platter.png">
    <link rel="preload" crossorigin="" as="style" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/modules/animate.min.css" />
    <link rel="preload" href="./style/style.css" as="style" />
    <link rel="stylesheet" href="./style/style.css" />
    <script type="module" src="./js/main.js"></script>
  </head>

  <body>

    <%- include('partial/nav') %>

    <div class="Vw-Vh-100 intro-img __wbg">
      <img class="loading-img" src="/photo/loader/loading.gif" alt="" width="200">
    </div>

    <main>
      <div class="section-one">
        <div class="lan container" style="color: #fffcf8;">
          <div>
            <div class="lan_intro">
              <article class="col-sm">
                <h6 class="lan__p text-col1 mb-4 __4em">
                  we are here to bring the best to you
                </h6>
                <p class="text-col1 mb-5">
                  find a place to chow down in your area today. </br> click the button
                  to find a restaurant
                </p>

                <a href="/search" class="btn btn-lg __1em __warning">find restaurant</a>
              </article>
            </div>
          </div>
        </div>

        <div class="__section-one-img">
          <figure class="img__item mid animate__animated animate__fadeInRight">
            <img class="__imgwh" src="./photo/food-pyramid.png" alt="image of a coke drink" />
          </figure>
        </div>

      </div>

      <div>
        <div class="section-two bg-b-light">
          <div class="container __align-cen" style="position: relative;">
            <div class="">
              <section class="center">
                <h6 class="lan__p __2em">explore</h6>

                <p class="mb-4">
                  Need a place to chow down?. <br>
                  select form our options bellow to get you started  
                </p>

                <div class="d-flex card-holder">

                  <a href="/collection" class="card col-sm-12 col-md-6 center __pad0 __nb bg-light-b">
                    <span class="menu-bg card-img-wrapper" role="img"></span>
                    <div class="card-body p-3">
                      <h5 class="lan__p text-b">collections</h5>
                      <p class="card-text __09em __bold">
                        view collections of restaurants in your area
                      </p>
                    </div>
                  </a>

                  <a href="/nearme" class="card col-sm-12 col-md-6 center __pad0 __nb bg-light-b">
                    <span class="popA-bg card-img-wrapper" role="img"></span>
                    <div class="card-body p-3">
                      <h5 class="lan__p text-b">Near Me</h5>
                      <p class="card-text __09em __bold">
                        check out these restaurants in your area
                      </p>
                    </div>
                  </a>

                  <a href="/average" class="card col-sm-12 col-md-6 center __pad0 __nb bg-light-b">
                    <span class="cuisine-bg card-img-wrapper" role="img"></span>
                    <div class="card-body p-3">
                      <h5 class="lan__p text-b">average cost</h5>
                      <p class="card-text __09em __bold">
                        average cost to dine 
                      </p>
                    </div>
                  </a>

                  <a href="/cuisines" class="card col-sm-12 col-md-6 center __pad0 __nb bg-light-b">
                    <span class="idk-bg card-img-wrapper" role="img"></span>
                    <div class="card-body p-3">
                      <h5 class="lan__p text-b">cuisines</h5>
                      <p class="card-text __09em __bold">
                        here are some famous cusines you might like 
                      </p>
                    </div>
                  </a>
                </div>
              </section>
            </div>
          </div>
        </div>

        <div class="__fade-wall">

          <div class="section-three container flex-wrap-reverse">
            <section class="three__content col-sm">

              <h1 class="lan__p __4em">dine with confidence </h1>             

              <p class="mb-5">
                Tired of the same old spot? dont worry! this is where you need to be.<br/>
                we have a wide range of options and places to get you started.<br/>
                enjoy something and somewhere new everytime whith friends and family 
                 with us.              
              </p>

              <a href="/search" class="btn btn-lg __1em __warning" role="button">find restaurant</a>
            </section>

            <section class="fs-0">
              <figure class="img__item">
                <img class="__imgwh" src="./photo/food1.png" alt="image of a coke drink" />
              </figure>
            </section>

          </div>
        </div>

      </div>

    </main>

    <footer class="bg-c-light p-4">
     
      <div class="container">

        <div class="d-flex flex-wrap justify-content-between w_3 m-auto">

          <ul class="d-flex flex-column align-self-start pr-2">
            <header class="text-caps">navigation</header>
            <li class="ml-2">
              <a href="/collection"> <small class="text-black-50">collection</small></a>
            </li>
            <li class="ml-2">
              <a href="/nearme"> <small class="text-black-50">nearme</small></a>
            </li>
            <li class="ml-2">
              <a href="/average"> <small class="text-black-50">average</small></a>
            </li>
            <li class="ml-2">
              <a href="/cuisines"> <small class="text-black-50">cuisines</small></a>
            </li>
          </ul>

          <section class="d-flex flex-column pl-2">
            <header class="text-caps">coming soon</header>
            <div class="m-auto">

              <div class="d-flex rounded align-items-center justify-content-center flex-nowrap mb-2 bg-dark-1 text-white p-2 fs-7em">
                <span class="icon play-store mr-1"></span>GOOGLE PLAY
              </div>
              <div class="d-flex rounded align-items-center justify-content-center flex-nowrap bg-dark-1 text-white p-2 fs-7em">
                <span class="icon app-store mr-2"></span>APP STORE
              </div>

            </div>  
          </section>
          

        </div>
        <hr/>

        <div class="center">
          <small class="fs-7em text-black-50">
            By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. © platter. All rights reserved.
          </small>
        </div>
      </div> 
    </footer>

  </body>
</html>
