<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta id="meta-theme" name="theme-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <title>Platter</title>
    <link rel="icon" href="/photo/platter.png">
    <link rel="preload" crossorigin="" as="style" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/modules/animate.min.css" />
    <link rel="preload" href="./style/style.css" as="style"/>
    <link rel="stylesheet" href="./style/style.css" />
  </head>

  <body>

    <%- include('partial/nav') %>

    <main>
      <div class="section-one mb__2em">
        <div class="lan container" style="color: #fffcf8;">
          <div>
            <div class="lan_intro">
              <article class="col-sm">
                <h6 class="lan__p __2e8">
                  we are here to deliver the best to you
                </h6>
                <p>
                  find a place to chow down in your area today. click the button
                  to begin your journey
                </p>

                <a href="/search" class="btn btn-lg __1em __orange">start searching</a>
              </article>
            </div>
          </div>
        </div>

        <div class="__section-one-img">
          <figure class="img__item mid animate__animated animate__fadeInRight">
            <img class="__imgwh" src="./photo/food1.png" alt="image of a coke drink" />
          </figure>
        </div>
      </div>

      <div>
        <div class="section-two __wbg">
          <div class="container __align-cen" style="position: relative;">
            <div class="">
              <section class="center">
                <h6 class="lan__p __2em">explore</h6>

                <p class="mb__2em">
                  need a place to chow down?. dont worry we are here for you...
                </p>

                <div class="d-flex card-holder">
                  <a href="#" class="card center __pad0 __nb">
                    <span class="menu-bg card-img-wrapper" role="img"></span>
                    <div class="card-body">
                      <h5 class="lan__p orange">Menu</h5>
                      <p class="card-text __09em __bold">
                        15 Interesting JavaScript and CSS Libraries for October
                        2016
                      </p>
                    </div>
                  </a>

                  <a href="#" class="card center __pad0 __nb">
                    <span class="popA-bg card-img-wrapper" role="img"></span>
                    <div class="card-body">
                      <h5 class="lan__p orange">Popular Spot</h5>
                      <p class="card-text __09em __bold">
                        15 Interesting JavaScript and CSS Libraries for October
                        2016
                      </p>
                    </div>
                  </a>

                  <a href="#" class="card center __pad0 __nb">
                    <span class="cuisine-bg card-img-wrapper" role="img"></span>
                    <div class="card-body">
                      <h5 class="lan__p orange">title</h5>
                      <p class="card-text __09em __bold">
                        15 Interesting JavaScript and CSS Libraries for October
                        2016
                      </p>
                    </div>
                  </a>

                  <a href="#" class="card center __pad0 __nb">
                    <span class="idk-bg card-img-wrapper" role="img"></span>
                    <div class="card-body">
                      <h5 class="lan__p orange">title</h5>
                      <p class="card-text __09em __bold">
                        15 Interesting JavaScript and CSS Libraries for October
                        2016
                      </p>
                    </div>
                  </a>
                </div>
              </section>
            </div>
          </div>
        </div>

        <div class="__fade-wall">

          <div class="section-three container">
            <section class="three__content col-sm">
              <h6 class="lan__p __2em">another header</h6>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque
                dicta ex voluptate! Illo temporibus optio reprehenderit tenetur
                provident nemo dolores doloremque id dignissimos dolorum iusto
                saepe dolorem alias, veritatis perspiciatis.
              </p>

              <div>
                <button class="btn btn-dark">link 1</button>
                <button class="btn btn-dark">link 2</button>
                <button class="btn btn-dark">link 3</button>
              </div>
            </section>
          </div>
        </div>

      </div>
    </main>

    <footer style="height: 80px;">
      <div class="container">portfolio</div>
    </footer>

  </body>
</html>
