<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta id="meta-theme" name="theme-color" content="#fff" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <title>Platter</title>
    <link rel="icon" href="/photo/platter.png">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="preload" href="./style/style.css" as="style"/>
    <link rel="stylesheet" href="/modules/animate.min.css" />
    <link rel="stylesheet" href="./style/style.css" />
    <script type="module" src="./js/main.js"></script>
  </head>

  <body class="__drkbg">

    <%- include('partial/nav') %>

    <div class="root d-flex">
      <main id="search">

        <div class=" search-section d-flex flex-column align-items-center fs-9em bg-light p-3">
  
           <!-- <a class="__brand w0 align-self-start" href="/"> 
            <span class="brand-icon"></span>&nbsp;Platter
          </a> -->
  
          <div class="lan flex-fill align-self-stretch">
            <form id="submit-form" class="center flex-fill">
              <div class="d-flex m-auto flex-wrap w_8">
                <div class="d-flex __input __m8 fg-1 fs-1 fb-3">
                  <span class="icon __loc __abs"></span>
                  <input
                    id="location"
                    type="text"
                    name="city"
                    class="form-control"
                    placeholder="city"
                  />
                </div>
  
                <div class="__input __m8 fg-1 fs-1 fb-3">
                  <span class="icon __s __abs"></span>
                  <input
                    id="restaurant-name"
                    type="text"
                    name="restaurant"
                    class="form-control"
                    placeholder="Search for restaurant, cuisine or a dish"
                  />
                </div>
              </div>
  
              <div>
                <button
                  id="submitBtn"
                  type="submit"
                  disabled
                  class="btn btn-primary __w200 m_1em"
                >
                  search
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- popular search section -->
        <div class="popular-search d-flex justify-content-center align-items-center">
          <ul id="popular-search" class="d-flex flex-wrap justify-content-center border-bottom w_6" data-city="<%= content %>">
            <li><button class="btn btn-light rounded-pill pl-4 pr-4 m-2">American</button></li>
            <li><button class="btn btn-light rounded-pill pl-4 pr-4 m-2">Fast Food</button></li>
            <li><button class="btn btn-light rounded-pill pl-4 pr-4 m-2">Pizza</button></li>
            <li><button class="btn btn-light rounded-pill pl-4 pr-4 m-2">Sandwich</button></li>
            <li><button class="btn btn-light rounded-pill pl-4 pr-4 m-2">Chinese</button></li>
            <li><button class="btn btn-light rounded-pill pl-4 pr-4 m-2">Bakery</button></li>
          </ul>
        </div>

        <div class="results container d-flex flex-column __Pad"></div>
  
        <template id="productrow">
          <a
            href="#"
            target="blank"
            class="block-link __wbg __mb6 animate__animated animate__fadeInUp"
          >
            <div class="d-flex __card">
              <img id="res" src="#" class="__card-img" loading="lazy" alt="restaurant thumbnail" />
              <div class="info col-sm">
                <h5 class="__card-title dark-col __1em"></h5>
                <div class="d-flex">
                  <span class="small-icon __loc2 mr-1"></span>
                  <div class="d-flex flex-column">
                    <p class="card-text"></p>
                    <p class="city card-text"></p>
                  </div>
                </div>
              </div>
              <small class="rate mtb-6 badge-pill badge-bg align-self-start"></small>
            </div>
          </a>
        </template>
  
        <div id="topbtn" class="__orange">top</div>
      </main>
    </div>
    
  </body>
</html>
